{
    "swagger": "2.0",
    "info": {
        "description": "Object store API for personal projects",
        "title": "Minio API",
        "contact": {},
        "version": "1.0"
    },
    "host": "minio.bookpanda.dev",
    "basePath": "/api/v1",
    "paths": {
        "/api/v1/upload": {
            "post": {
                "description": "get string by ID",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "file"
                ],
                "summary": "Upload object to minio",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Which bucket to upload to",
                        "name": "bucket",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "file to upload",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/dto.UploadFileResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.AppError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.AppError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.AppError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "dto.UploadFileResponse": {
            "type": "object",
            "properties": {
                "fileKey": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "errors.AppError": {
            "type": "object",
            "properties": {
                "httpCode": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                }
            }
        }
    }
}